@import './topRight';
@import './topLeft';

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.flex {
  display: flex;
}

.root {
  height: calc(100vh - 1rem);
}

.bg-gray-400 {
  background-color: rgb(221, 221, 221);
}
.bg-gray-500 {
  background-color: rgb(190, 190, 190);
}
.bg-gray-600 {
  background-color: rgb(127, 127, 127);
}
.bg-gray-700 {
  background-color: rgb(83, 83, 83);
}
